<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Nitrox calculator</mat-card-title>
            <mat-card-content>
                <form class="example-form">
                    <div class="d-flex p-2">
                        <mat-form-field>
                            <input matInput placeholder="Max PpO2" min="0" max="3" type="number" [formControl]="ppo2" required>
                            <button mat-button *ngIf="ppo2" matSuffix mat-icon-button aria-label="Clear" (click)="ResetPpO2()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="d-flex p-2">
                        <mat-form-field>
                            <input matInput placeholder="O2% in gas" min="0" max="100" type="number" [formControl]="perco2" required>
                            <button mat-button *ngIf="perco2" matSuffix mat-icon-button aria-label="Clear" (click)="RestPercO2()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </form>
                <mat-divider [inset]="true"></mat-divider>
                <div class="d-flex p-2 text-center">
                    <h2 class="mat-h2">
                        MOD : {{ GetMaxDepth() | number: '1.1-2' }} m
                    </h2>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card>
                    <mat-card-title>Trimix calculator</mat-card-title>
                    <mat-card-content>
                    </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>